
---
import { Header } from '../components/Header';
import Hero from '../components/Hero.astro';
import QuickAccess from '../components/QuickAccess.astro';
import { CircleSection } from '../components/CircleSection';
import NewsSection from '../components/NewsSection.astro';
import Footer from '../components/Footer.astro';
import '../styles/index.css';
---


<html lang="ja">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body>
    <Header client:load />
    <main>
      <Hero/>
      <QuickAccess/>
      <CircleSection client:load />
      <NewsSection/>
    </main>
    <Footer/>
  </body>
</html>